.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 204, 255);
}
.header {
    position: relative;
    width:  100%;
    z-index: 20;
    justify-content: space-between;
    background-color: #1a2333;
    box-shadow: 1px 2px 5px rgba(0,0,0,.25);
}
.mainContainer {
    background-color: lightgray;
}
.floatNav {
    width: 25%;
    justify-content: space-between;
    display: flex;
    padding: 1rem;
}
.logo {
    padding: .5rem 1rem;
}
.container {
    padding: 1rem;
}
.sep {
    height: 1px;
    width: 100%;
    background-color: white;
}
.actBtn {
    cursor: pointer;
}
.navIcon {
    font-size: larger;
    background-color: rgb(26, 30, 36);
    color: white;
    padding: 1rem;
    border-radius: 25%;
}
.subRow {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mainIcon {
    font-size: x-large;
}
.neutral {
    color: rgb(0, 204, 255);
}
.success {
    color: green;
}
.failed {
    color: red;
}
.headTitle {
    font-weight: 200;
    text-align: left;
    padding: 1rem;
}

.testTab {
    padding: 1rem;
    width: 100%;
}
.testCell {
    width: 33%;
    font-weight: 200;
    font-size: smaller;
    text-align: left;
}
.logo {
    width: 10%;
}
.logo img {
    width: 100%;
}
.slider {
    color: rgb(0, 204, 255);
    display: block;
    max-height: auto;
	overflow: scroll;
    animation: slide .7s ease-in-out;
    background-color: #1a2333;
}

@keyframes slide {
    from { 
        max-height: 0;
    }
    to { 
        max-height: 100vh;
    }
}

.spinner {
    font-size: xx-large;
    color: black;
    animation: spin .5s ease-in-out infinite;
}

@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}